<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h2>
                    You have succesfully created a business profile with MyGrowthFund
                </h2>
                  <br>
                <h2>
                    A representative of MyGrowthFund will be in contact with you. You will receive an update email for further correspondence in due course.
                </h2>
            </div>
        </div>
    </div>
</div>
